<footer class="page-footer blue center-on-small-only">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="aboutus">About Us</a>
            </div>
            <div class="col-md-2">
                <a href="contact">
                    Contact Us
                </a>
            </div>
            <div class="col-md-3">
                email: wwimporter@gmail.com
            </div>
            <div class="col-md-3">
                <span class="glyphicon glyphicon-copyright-mark"></span> 2011-2018 WWImporter
            </div>
        </div>
    </div>

</footer>