
  <head>

  </head>

      <div class="col-md-5 item body2" ><img [src]='item.imagelink' height="100" width="100"/></div>

    <div class="col-md-5 body2 item">

    <div>Name: {{item.name}}</div>
    <div>Description: {{item.description}}</div>
    <div>Price: {{item.price | currency:'USD': true}}</div>
    <div>Rating: {{item.rating}}/5</div>
    <div>Stock: {{item.stock}}</div>
    <div class="col-md-2">
      <form>
        Qty
      <a (click)="upQuantity(item)" class="glyphicon glyphicon-arrow-up"></a>
      <a (click)="downQuantity(item)" class="glyphicon glyphicon-arrow-down"></a>
    </form>
   </div>
    <a class="btn btn-primary"(click)="addtoCart(item)">Add</a>
    <br>
    <br>

    </div>


