<nav class="navbar navbar-toggleable-md navbar-light bg-blue">
  <div class="container-fluid">
  <a class="navbar-brand" href="home">WWImporter</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="items">Shop All</a>
      </li>
      <a class="right" href="cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
      <li class="nav-item">

      </li>
    </ul>

  </div>
</div>
</nav>
