/* You can add global styles to this file, and also import other style files */
html, body {
  background-color:skyblue;
  margin:0px;
  padding:5px;
}
.body2{

    background-color:white;
    margin:0px;
    padding:20px;
    border-radius:25px;
    margin-bottom: 200px;

}

.right{
  position: absolute;
  right:0px;
  width:50px;
  padding:20px;

}
.container-fluid {
  border-bottom: solid;

}
.item {
  border-style:solid;
  background-color:lightblue;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}
